@page "/ingreso" 
<html>
<div class="login">
  <div class="form">
    <h2>Bienvenido</h2>
    <input type="text" placeholder="Mail">
    <input type="password" placeholder="Contraseña">
    <input type="submit" value="Ingresa" class="submit">
    <input type="button" value="Registrar" href="registro">
  </div>
  
</div>
</html>
@code {

}
