@page "/registro" 
<html>
<div class="login">
  <div class="form">
    <h2>Bienvenido</h2>
    <input type="text" placeholder="Nombre">
    <input type="text" placeholder="Telefono">
    <input type="text" placeholder="Direccion">
    <input type="text" placeholder="Mail">
    <input type="password" placeholder="Contraseña">
    
    <input type="submit" value="Registrar" class="submit">
  </div>
</div>
</html>
@code {

}